[req]
prompt = no
distinguished_name = req_distinguished_name

[req_distinguished_name]
C = # Country (2 letters)
ST = # State
L = # Location
O = # Organization
CN = # Common Name (exposed URL or IP address)